{% extends "base.html" %}
{% block title %}Todo List{% endblock title %}
{% block body %} 
<div class="container">
   <span class="text-info">
   <h3>Total Task : {{total_task}}</h3>
   <span class="text-success">
   <h3>Total Completed task : {{total_complete}}</h3>
   <span class="text-danger">
   <h3>Total Incompleted task : {{total_incomplete}}</h3>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Sn</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody>
         {% for task in tasks %}
         <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>
               {% if task.status %}
               <span class="text-success">
                  Complete
               </span>
               {% else %}
               <span class="text-danger">
                  Pending
               </span>
               {% endif %}
               {% comment %} {{task.status}} {% endcomment %}
            </td>
            <td>
               <a href="{{task.id}}" class="btn btn-success">
                  Mark
               </a>
               <a href="{{task.id}}/update" class="btn btn-primary">
                  Update
               </a>
               <a href="{{task.id}}/delete" class="btn btn-danger">
                  Delete
               </a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock body %}